* {
 box-sizing: border-box;
 scroll-behavior: smooth;
 padding: 0;
 margin: 0;
}

body {
 background: #444;
 padding: 25px 50px;
 font-size: 1.6em;
 font-weight: 500;
 font-family: 'Tiny5', sans-serif; /* Body font */
}

header {
 width: 100%;
 height: 500px;
 border-top-left-radius: 16px;
 border-top-right-radius: 16px;
 border: 3px solid #fff;
 background: url('../assets/images/Pic_4.jpeg');
 background-size: cover;
 background-position: center;
 position: relative; /* For absolute positioning */
 color: #fff;
 text-shadow: 2px 2px 3px #333;
 font-family: 'Comfortaa', cursive; /* Heading font */
}

header .title {
 position: absolute;
    left: 20px; 
    top: 300px !important; /* Adjust this value to move the title down */
    font-size: 3.5em;
    font-family: 'Lobster', cursive; /* Header title font */
}

header .subtitle {
 position: absolute; 
    left: 20px; 
    bottom: 20px; /* Move the subtitle up from the bottom */
    color: #0f0; 
    background: rgba(255, 255, 255, 0.33); 
    padding: 5px; 
    font-family: 'Roboto', sans-serif; /* Subtitle font */
}


section {
 width: 100%;
 min-height: 300px;
 padding: 100px 50px;
 border: 3px solid #fff;
 font-family: 'Tiny5', sans-serif; /* Body font */
}

#aboutSection {
 background: #fff;
 color: #333;
 font-size: 1.2em;
}

.aboutHeading {
 font-family: 'Playfair Display', serif; /* About title font */
    font-size: 2em; /* Adjust size as needed */
    color: #333; /* About title color */
}


.aboutParagraph {
 font-family: 'Open Sans', sans-serif; /* Preferred font */
 font-size: .8em; /* Adjust size as needed */
 color: #555; /* Paragraph color */
 line-height: 1.2; /* Improve readability */
}

.fancyHeading {
 font-family: 'Raleway', sans-serif; /* Career Goals font */
 font-weight: 700; /* Make it bold */
 margin-bottom: 20px;
 text-decoration: underline;
}

#careerGoals {
 background: #222;
 color: #fff;
 font-size: 1.2em;
 padding-left: 100px;
 font-family: 'Open Sans', sans-serif; /* Change to your preferred font */
}

#workSamples {
 background: #fff;
 color: #333;
 text-align: center;
}

.thumbnail {
 width: 300px; /* Fixed width */
 height: 300px; /* Fixed height for a square */
 object-fit: cover; /* Ensures images fill the area without distortion */
 border: 3px solid #777;
 border-radius: 16px; /* Optional: rounded corners */
 box-shadow: 2px 3px 5px #222;
 margin: 10px; /* Space between images */
}


#contact {
 background: #222;
 color: #fff;
 text-align: center;
 border-bottom-left-radius: 16px;
 border-bottom-right-radius: 16px;
 font-size: 1.2em;
}

#contact > a:link {
 color: #fff;
}

footer {
 text-align: right;
 padding-right: 50px;
 padding-top: 10px;
 color: #fff;
}
